* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  .ui.cards > .card > .image {
    height: 250px;
    padding: 20px;
    background: #fff;
    margin: auto;
  }
  .ui.cards > .card > .image > img {
    height: 100%;
    max-width: 100%;
    width: auto;
  }
  .ui.cards > .card > .content > .header {
    text-align:center;
    height: 48px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .ui.cards > .card > .content >  {
    height: 36px;
    margin-bottom: 0px;
    overflow: hidden;
  }

 
  .ui.menu.fixed {
    height: 60px;
    padding-top: 15px;
  }
  
  .ui.grid.container {
    margin-top: 45px;
  }
  
  .ui.grid > .row {
    background: #fff;
  }
  .ui.grid > .row > .column.lp {
    padding: 20px 40px 20px 20px;
    align-self: flex-start !important;
  }
  .ui.grid > .row > .column.rp {
    padding: 20px 20px 20px 40px;
    text-align: left;
    align-self: flex-start !important;
  }
  
  .ui.grid > .row > .column > img,
  .ui.grid > .row > img {
    height: 100%;
  }
  .ui.placeholder .header:not(:first-child):before,
  .ui.placeholder .image:not(:first-child):before,
  .ui.placeholder .paragraph:not(:first-child):before {
    display: none;
  }
  
  .ui.label,
  .ui.labels .label {
    font-size: 22px;
  }
  
  .column.rp h1 {
    color: #333;
  }
  .column.rp p {
    font-size: 18px;
    color: #777;
  }
  .ui.placeholder.segment .column .button,
  .ui.placeholder.segment .column .field,
  .ui.placeholder.segment .column textarea,
  .ui.placeholder.segment .column > .ui.input {
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    color: #fff;
    font-size: 18px;
    margin-left: 0;
  }


.our-team {
  padding: 10p 0px 40px;
  margin-bottom: 40px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 250px;
  width: 250px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}
